/* main/static/styles.css */

/* Установим фон и центрирование заголовка */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/background.png'); /* Путь к изображению */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-top: 20px;
    color: white;
}

/* Стили для контента */
.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
}

/* Стили для надписей */
.message {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: 'KislicinGraffiti', sans-serif;
    white-space: nowrap;
    background: none; /* Убираем фон */
}
